@model Fujitsu_eSignPO.Models.PRPO.ApproverPRDetailResponse
@using System.Security.Claims;
@{
    ViewData["Title"] = "Supplier Review";
}
@*<div class="modal fade" id="acknowledgeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Acknowledge ?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="remarkAcknowledge">Remarks :</label>
                <textarea id="remarkAcknowledge" class="form-control form-control-sm" rows="4" cols="50"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="acknowledge()" class="btn btn-success">Confirmed !</button>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="deliveryDateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delivery Date</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="deliveryDate">Delivery Date :</label>
                <input type="date" class="form form-control" id="deliveryDate"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="confirmDeliveryDate()" class="btn btn-success">Confirmed !</button>
            </div>
        </div>
    </div>
</div>

<div class="card o-hidden border-0 shadow-sm small">
    <div class="card-header bg-primary text-white d-flex justify-content-between">

        <div class="font-weight-bold">PURCHASE ORDER</div>

        @{
            var positionLevel = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(claim => new { claim.Value }).FirstOrDefault();
            var userName = User.Claims.Where(x => x.Type == ClaimTypes.Sid).Select(claim => new { claim.Value }).FirstOrDefault();
            var title = User.Claims.Where(x => x.Type == "Title").Select(claim => new { claim.Value }).FirstOrDefault();

        }

        <div>
             <a href="@Url.Action("print","PRPO",new { prNo = Model.poNo})" target="_blank" class="btn btn-warning btn-sm"><i class="fas fa-fw fa-print"></i> PO Report</a>
        @{
            //var checkActKnow = Model.flowPRs.Where(x => x.sRW_Status == "0" && x.nRW_Steps == 6 && x.sRw_Approve_ID == userName.Value).Count();

            //if (checkActKnow > 0)
            //{
            //    <div><button type="button" class="btn btn btn-success btn-sm" id="openAcknowledgeModel"><i class="fas fa-fw fa-check"></i> Confirm Acknowledge</button></div>
            //}

            var checkDeliveryDate = Model.flowPRs.Where(x => x.sRW_Status == "0" && x.nRW_Steps == 3 && x.sRw_Approve_ID == userName.Value).Count();

            if (checkDeliveryDate > 0)
            {
               <button type="button" class="btn btn btn-success btn-sm" id="OpenDeliveryDateModal"><i class="fas fa-fw fa-calendar"></i> Register Delivery Date</button>
            }

        }
        </div>

    </div>
    <div class="card-body pb-0">

        <div class="form-group row">

            <div class="col-md-5 text-success ">
                <label id="poNo"><span class="font-weight-bolder">PO No :</span> @Model.poNo</label>
            </div>           

        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="vendorName"><span class="font-weight-bolder">Vendor Name : </span> @Model.vendorName</label>
            </div>
            <div class="col-md-6">

                <label><span class="font-weight-bolder">Department : </span> @Model.department</label>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label><span class="font-weight-bolder">Reference / Quotation :</span> @Model.refQuotation</label>
            </div>
            <div class="col-md-6">
                <label><span class="font-weight-bolder"> Vat Type :</span> @Model.vatType </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label><span class="font-weight-bolder">Currency : </span> @Model.currency</label>
            </div>
            <div class="col-md-6">
                <label><span class="font-weight-bolder"> Rate :</span> @Model.rate </label>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label><span class="font-weight-bolder">Shipping Date : </span> @Model.shippingDate</label>
            </div>
            <div class="col-md-6">
                <label><span class="font-weight-bolder"> PO Date :</span> @Model.poDate </label>
            </div>

        </div>
        <hr />
    @*    <div class="form-group row">
            <div class="col-md-4">
                <label><span class="font-weight-bolder">Main Code : </span> @Model.mainCode</label>
            </div>
            <div class="col-md-4">
                <label><span class="font-weight-bolder">Sub Code 1 :</span> @Model.subCode1 </label>
            </div>
            <div class="col-md-4">
                <label><span class="font-weight-bolder">Sub Code 2 :</span> @Model.subCode2 </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label><span class="font-weight-bolder">Budget : </span> @Model.budget</label>
            </div>
            <div class="col-md-4">
                <label><span class="font-weight-bolder">Balance :</span> @Model.balance </label>
            </div>

        </div>*@
        @if (Model.deliveryDate != null)
        {
            <div class="form-group row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label><span class="font-weight-bolder">Delivery :</span><b> @Model.deliveryDate</b></label>

                    </div>

                </div>
            </div>
        }
        <hr />
        <h6 class="font-weight-bold"><i class="fa fa-list"></i> PO Lists</h6>
        <div class="table-responsiv small">
            <table id="listTable" class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>No.#</th>
                        <th>Part No</th>
                        <th>Part Name</th>
                        <th>Vat Type</th>
                        <th>Unit Price</th>
                        <th style="width:10%">Qty</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemPR in Model.listPRPOItems.OrderBy(x => x.no))
                    {
                        <tr>
                            <td>@itemPR.no</td>
                            <td>@itemPR.partNo</td>
                            <td>
                                @itemPR.partName
                                @*@if (title?.Value == "Purchasing Officer")
                            {
                            var unitCost = itemPR?.unitCost?.Replace(",", "");
                            <a href="#" id="OpenEditModal" onclick="editItemDesc('@itemPR.uPrItemId','@itemPR.item','@itemPR.itemDesc','@itemPR.qty','@unitCost')">@itemPR.itemDesc</a>
                            }
                            else
                            {
                            @itemPR.itemDesc
                            }
                            *@
                            </td>
                            <td>@itemPR.vatType</td>
                            <td>@itemPR.unitPrice</td>
                            <td class="text-center">@itemPR.qty</td>
                            <td class="text-center">@itemPR.amount</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td class="text-right">Total Amount</td>
                        <td class="text-center">
                            @Model.totalAmount
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                        <td class="text-right">Total Amount in THB</td>
                        <td class="text-center">
                            @Model.totalAmountTHB
                        </td>
                    </tr>
                    @* @if (title?.Value == "Purchasing Officer")
                    {
                    <tr>
                    <td colspan="8"></td>
                    <td class="text-right" valign="middle"><label class="form-check-label" for="isVat">Vat 7%</label></td>
                    <td class="text-left" style="vertical-align:central;width:8%">
                    <div class="form-check form-switch" style="padding-left:2rem;padding-bottom:2.1rem">
                    <input class="form-check-input toggle-checkbox" type="checkbox" id="switchSup" data-prNo="@Model.poNo" style="width:100%;height:30px;vertical-align:central" @(Model?.isVat == true ? "Checked":"") />
                    </div>
                    </td>
                    <td class="text-center">
                    <span id="vatCal"></span>
                    </td>
                    </tr>
                    }*@
                </tfoot>
            </table>
        </div>

       
        <hr />
        @*<div class="container">
            <h6 class="font-weight-bold"><i class="fa fa-file-archive"></i>  Attachment Files</h6>
            <div class="table-responsive small">
                <table class="table table-bordered" id="attachedFilesTable">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>File Name</th>
                            <th>Size</th>
                            <th>Type</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var itemFile in Model.fileUploads)
                        {
                            <tr>
                                <td><a target="_blank" href="@Url.Action("viewFile","PRPO" , new {fileName = $"{itemFile.uPrId}_{@itemFile.sAttach_Name}" })"> @itemFile.sAttach_Name</a></td>
                                <td class="text-center">@itemFile.sAttach_File_Size</td>
                                <td>@itemFile.sAttach_File_Type</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>*@

        @* <div class="container">
        <h6 class="font-weight-bold"><i class="fa fa-th-list"></i>  Workflows</h6>
        <div class="row">
        <div class="table-responsive small col-md-10">
        <table class="table table-bordered" id="workflowTable">
        <thead>
        <tr class="bg-primary text-white">
        <th style="width:20%">Approver Name</th>
        <th style="width:20%">Approver Title</th>
        <th style="width:20%">Approver Status</th>
        <th style="width:20%">Approver Date</th>
        <th>Remark</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var itemFlow in Model.flowPRs)
        {
        <tr>
        <td>@itemFlow.sRw_Approve_Name</td>
        <td>@itemFlow.sRW_Approve_Title</td>

        @{
        string appStatus = "";
        if (@itemFlow.sRW_Status == "1")
        {
        appStatus = "Approved";
        }

        if (@itemFlow.sRW_Status == "9")
        {
        appStatus = "Rejected";
        }

        if (@itemFlow.sRW_Status == "3")
        {
        appStatus = "Converted PO";
        }
        }
        <td>@appStatus</td>
        <td>@itemFlow.dRW_Approve_Date</td>
        <td>@itemFlow.sRw_Remark</td>
        </tr>
        }
        </tbody>
        </table>
        </div>
        </div>
        </div>*@
    </div>



</div>
@section Scripts{
    <script>
        $("#openAcknowledgeModel").click(function () {
            $("#acknowledgeModal").modal("show");
        });

        $("#OpenDeliveryDateModal").click(function () {
            $("#deliveryDateModal").modal("show");
        });

        function acknowledge(){
            $.ajax({
                type: 'POST',
                url: '@Url.Action("approveRejectPR","PRPO")',
                data: { PRNo: "@Model.poNo", Remark: $("#remarkAcknowledge").val(), approveStatus: "1" },
                success: function (result) {

                    alertPopup(`Confirm Acknowledge PR number : ${result.msg} success.`).then((result) => {
                        if (result.isConfirmed) {
                            var url = '@Url.Action("worklist", "supplier")';
                            window.location.href = url;
                        }
                    });
                    console.log(result);
                },
                error: function (result) {

                    alertErrorPopup(`Failed to Confirm Acknowledge : ${result.responseJSON.msg}`);

                }
            })
        }

        function confirmDeliveryDate(){
            $.ajax({
                type: 'POST',
                url: '@Url.Action("approveRejectPR","PRPO")',
                data: { PRNo: "@Model.poNo", Remark: $("#deliveryDate").val(), approveStatus: "1" },
                success: function (result) {

                    alertPopup(`Register Delivery Date PO number : ${result.msg} success.`).then((result) => {
                        if (result.isConfirmed) {
                            var url = '@Url.Action("worklist", "supplier")';
                            window.location.href = url;
                        }
                    });
                    console.log(result);
                },
                error: function (result) {

                    alertErrorPopup(`Failed to Register Delivery Date : ${result.responseJSON.msg}`);

                }
            })
        }
    </script>
}