@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -FUJITSU E-SIGN PO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" asp-append-version="true" />
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/sweetalert/sweetalert2.css" rel="stylesheet" />
    <link href="~/Fujitsu_logo.ico" rel="icon" />
</head>

<body id="page-top">
    <div class="overlay d-flex justify-content-center align-self-center" style="display:none !important;">
        <div class="justify-content-center align-self-center">
            <div class="spinner-grow text-primary" role="status" style="width: 5rem; height: 5rem; z-index: 20;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="wrapper">
        @{
            var claimsValue = User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(claim => new { claim.Value }).FirstOrDefault();
            var claimsName = User.Claims.Where(x => x.Type == ClaimTypes.Name).Select(claim => new { claim.Value }).FirstOrDefault();
            var claimsTitle = User.Claims.Where(x => x.Type == "Title").Select(claim => new { claim.Value }).FirstOrDefault();

            var urlHome = claimsValue.Value == "99" ? Url.Action("Worklist", "Supplier") : Url.Action("Worklist", "PRPO");
        }

        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="background-color:white;background-size: cover;">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@urlHome">
                <div class="sidebar-brand-icon" >

                    e-Sign PO <sup style="color:red">Fujitsu</sup>
                </div>


            </a>

            <hr class="sidebar-divider my-0" />



            @*   <li class="nav-item">

            <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span>
            </a>

            </li>*@
           

           

            @if (claimsValue?.Value == "99")
            {
                <hr class="sidebar-divider" />
                <div class="sidebar-heading">
                    PO
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("worklist", "supplier")" >
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span>PO Lists</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("History", "Supplier")">
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span>History</span>
                    </a>
                </li>
            }
            else
            {
                <hr class="sidebar-divider" />
                <div class="sidebar-heading" style="color:black">
                    PO Process
                </div>
                <li class="nav-item" >
                    <a class="nav-link" href="@Url.Action("worklist", "PRPO")" >
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span >Worklist</span>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("History", "PRPO")">
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span >History</span>
                    </a>
                </li>
            }

            @if (claimsTitle?.Value == "Accountant Officer")
            {
                <hr class="sidebar-divider" />


                <div class="sidebar-heading" style="color:black">
                    Manage Users
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("index", "Customer")">
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span>Vendor List</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("index", "AccountCode")">
                        <i class="fas fa-fw fa-file-archive"></i>
                        <span>Account Code</span>
                    </a>
                </li>

            }




          
            <hr class="sidebar-divider">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                     <img src="~/Fujitsu_logo.png" style="max-width:120px"/>
                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                    </button>
                    </div>
                    </div>
                    </form>*@
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        @*<li class="nav-item no-arrow">

                        <a class="nav-link" href="@Url.Action("Change","Language",new { LanguageAbbrevation = "en", URL = Request.Url.AbsoluteUri },null)" id="userDropdown">
                        <img class="img-profile rounded-circle" src="~/Images/en.png">

                        </a>

                        </li>
                        <li class="nav-item no-arrow">

                        <a class="nav-link" href="@Url.Action("Change", "Language", new { LanguageAbbrevation = "th", URL = Request.Url.AbsoluteUri }, null)" id="userDropdown">
                        <img class="img-profile rounded-circle" src="~/Images/th.png">

                        </a>

                        </li>
                        *@
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (claimsValue?.Value == "99")
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><span class="font-weight-bolder">@claimsName?.Value</span></span>
                                }
                                else
                                {
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"> LV.[@claimsValue?.Value] : <span class="font-weight-bolder">@claimsName?.Value</span> [@claimsTitle?.Value]</span>
                                }

                                <img class="img-profile rounded-circle border border-primary" src="~/Images/person.png">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                @*<a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    My Profile
                                </a>*@
                                <a class="dropdown-item" href="@Url.Action("ResetPassword","Profiles")">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Reset Password
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("uploadSignature","Profiles")">
                                    <i class="fas fa-signature fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Signature
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Confirm to Logout</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" class="form-inline" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-primary">Logout</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="~/sweetalert/sweetalert2.all.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/alertbox.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
